DOCKER_SECRET=""
#Gemini 
GEMINI_API_KEY=""
#OpenAi
OPENAI_API_KEY=""
#DeepSeek
DEEPSEEK_API_KEY=""
#Qwen
QWEN_API_KEY=""
TEST_MODE_DB="False"
#SLEEP_AI
MODEL_SLEEP_AI="qwen3.5-plus"
#DIALOG_AI
MODEL_DIALOG_AI="qwen3.5-plus" #qwen3.5-plus
CHAT_HISTORY_URL="https://analytics.sleeptery.xdev.team/dialog-ai/inner/history"
# Embedding and Qdrant
EMBEDDING_MODEL_ID="text-embedding-v4"
QDRANT_HOST="qdrant"
QDRANT_PORT=6333
# Sleep AI and Dialog AI collection names
COLLECTION_NAME_SLEEP_AI="sleep_ai_knowledge_base"
COLLECTION_NAME_DIALOG_AI="dialog_ai_knowledge_base"

VECTOR_DIMENSION=1024
BATCH_SIZE=150

#LangSmith
LANGSMITH_TRACING=False #True
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=